extends ./layout/index

block contenido
    main
        h2= nombrePagina
        p= cuco
        img(src="./img/imagen-1.jpg", alt="")
        ul
            li Honesto 
            li Cool
            li tranquilo