:root {
    --font-uno: "Special Gothic Expanded One";
    --font-dos: "Quicksand";
    --color-sub: rgb(88, 80, 74);
    --background: rgb(224, 224, 224);
    --color-letra: black;
    --color-bg-uno: #eb8056;
    --color-bg-dos: rgb(231, 255, 92);
    --color-bg-tres: rgb(55, 255, 145);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}

/* Formateo de los elementos */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--font-uno), var(--font-dos), sans-serif;
    background-image: url("./img/background.webp");
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.header {
    width: 100%;
    min-height: clamp(85px, 50%, 110px) !important;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 3px solid var(--color-sub);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    z-index: 2;

    .logo {
        width: 100px;

        img {
            width: 100%;
            mix-blend-mode: multiply;
        }
    }

    .navbar {
        position: absolute;
        right: 0;
        top: 0;
        min-width: 160px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;
        gap: 2rem;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path .2s;
        border-left: 3px solid var(--color-sub);
        display: flex;
        background-color: var(--background);

        .enlace {
            text-decoration: none;
            color: var(--color-letra);
            transition: border .1s;
            padding: .2rem .4rem;

            &:hover {
                border-bottom: 3px solid var(--color-sub);
                border-right: 3px solid var(--color-sub);
            }
        }

        .select {
            background-color: var(--color-bg-uno);
            border-bottom: 3px solid var(--color-sub);
            border-right: 3px solid var(--color-sub);
        }
    }

    .abrir {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        background-image: url(img/menu-regular-36.png);
        background-size: cover;
        border: none;
        z-index: 1;

        &:has(#abrir:checked) {
            background-image: url(img/x-regular-36.png);
            border: 1px solid var(--color-sub);
            z-index: 2;
        }
    }

    #abrir {
        display: none;
    }

    &:has(:where(#abrir:checked)) .navbar {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        z-index: 2;
    }
}

.hero {
    width: 100%;
    min-height: calc(100dvh - 135px);
    padding: 1rem;
    background-image: url(img/img-fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid var(--color-bg-uno);

    .textos {
        width: 100%;
        font-family: var(--font-dos);
        padding-left: 15%;

        h1 {
            width: 60%;
            letter-spacing: 5px;
            padding-bottom: 2rem;
            font-family: var(--font-uno);
            text-shadow: 0 0 10px rgb(0, 0, 0);
            color: var(--background);
            font-weight: 400;
        }

        p {
            color: rgb(129, 131, 108);
            font-family: var(--font-dos);
            min-width: 250px;
            max-width: 300px;
            text-shadow: 0 0 10px rgb(0, 0, 0);
            font-weight: 600;
        }
    }

    .btn-cta {
        padding: 1rem 2rem;
        border: 1px solid var(--color-sub);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        text-decoration: none;
        color: var(--color-letra);
        background-image: linear-gradient(25deg, var(--color-bg-dos), var(--color-bg-tres));
        transition: transform .4s;

        &:hover {
            transform: scale(1.1);
        }
    }

}

.nosotros {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .contenedorUs {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        p {
            font-family: var(--font-dos);
            font-weight: 600;
            max-width: 650px;
            font-size: .9rem;
        }

        img {
            width: 100%;
            border: 2px solid var(--color-sub);
            box-shadow: var(--box-shadow);
            width: clamp(300px, 100%, 600px);
        }
    }

    h4 {
        padding: 1rem 2rem;
        background-color: var(--background);
        border: 1px solid var(--color-sub);
        border-radius: 8px;
        color: var(--color-sub);
        letter-spacing: 2px;
        font-weight: 400;
        box-shadow: inset var(--box-shadow);
        width: clamp(300px, 100%, 800px);
        text-align: center;
        align-self: flex-start;
    }
    .testUs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;


        .coment {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            justify-content: center;
            align-items: baseline;
            background-color: #fff;
            min-width: 150px;
            border-radius: 5px;
            border: 1px solid var(--color-bg-uno);
            box-shadow: var(--box-shadow);

            .parrafo {
                font-size: .8rem;
                font-family: var(--font-dos);
                font-weight: 700;
                color: var(--color-sub);
                max-width: 400px;
            }

            .nombreUser {
                color: var(--color-bg-tres);
                text-align: right;
                width: 100%;

                span {
                    color: var(--color-bg-uno);
                }
            }
        }
    }
}

.viajes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    gap: 1rem;
    align-items: center;

    .textos {
        width: 100%;
        max-width: 650px;
        background-color: #79512c7e;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border: 1px solid var(--color-bg-uno);
        border-radius: 5px;

        h2 {
            font-size: 1rem;
            letter-spacing: 3px;
        }

        p {
            font-family: var(--font-dos);
            font-weight: 600;
            font-size: .9rem;

            span {
                font-family: var(--font-uno);
                color: var(--color-bg-uno);
                letter-spacing: 1px;
                font-weight: normal;
            }
        }

        hr {
            background-color: var(--color-bg-uno);
            outline: none;
        }
    }

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: space-around;

        .articulo {
            display: flex;
            flex-direction: column;
            background-color: var(--background);
            box-shadow: var(--box-shadow);
            width: clamp(170px, 45%, 250px);
            border: 1px solid var(--color-sub);
            border-radius: 8px;
            overflow: hidden;
            text-align: center;
            height: 310px;
            justify-content: center;

            img {
                height: 60%;
                object-fit: cover;
                padding-bottom: 1rem;
            }

            .titulo {
                font-family: var(--font-dos);
                font-weight: 600;
            }

            .precio {
                font-family: var(--font-dos);
                font-weight: 600;

                span {
                    font-family: var(--font-dos);
                    color: var(--color-sub);
                }
            }

            .fechas {
                font-size: .7rem;
                font-family: var(--font-dos);
                font-weight: 600;
                color: var(--color-sub);
                display: inline-block;


            }

            .ir {
                width: 90%;
                border: 1px solid var(--color-sub);
                border-radius: 5px;
                box-shadow: var(--box-shadow);
                text-decoration: none;
                color: var(--color-letra);
                background-image: linear-gradient(25deg, var(--color-bg-dos), var(--color-bg-tres));
                transition: transform .4s;
                align-self: center;
                padding: .5rem;
                font-family: var(--font-dos);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.slider {
    height: clamp(300px, 40%, 500px);
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 1rem;
    border-top: 3px solid var(--color-bg-uno);
    overflow-x: scroll;
    background-color: var(--background);
    box-shadow: inset var(--box-shadow);

    .contenedorSlider {
        display: flex;
        gap: 1rem;

        .articulo {
            display: flex;
            flex-direction: column;
            background-color: var(--background);
            box-shadow: var(--box-shadow);
            width: clamp(185px, 35dvw, 350px);
            border: 1px solid var(--color-sub);
            border-radius: 8px;
            overflow: hidden;
            text-align: center;
            height: 310px;
            justify-content: center;

            img {
                height: 60%;
                object-fit: cover;
                padding-bottom: 1rem;
            }

            .titulo {
                font-family: var(--font-dos);
                font-weight: 600;
            }

            .precio {
                font-family: var(--font-dos);
                font-weight: 600;

                span {
                    font-family: var(--font-dos);
                    color: var(--color-sub);
                }
            }

            .fechas {
                font-size: .7rem;
                font-family: var(--font-dos);
                font-weight: 600;
                color: var(--color-sub);
                display: inline-block;


            }

            .ir {
                width: 90%;
                border: 1px solid var(--color-sub);
                border-radius: 5px;
                box-shadow: var(--box-shadow);
                text-decoration: none;
                color: var(--color-letra);
                background-image: linear-gradient(25deg, var(--color-bg-dos), var(--color-bg-tres));
                transition: transform .4s;
                align-self: center;
                padding: .5rem;
                font-family: var(--font-dos);

                &:hover {
                    transform: scale(1.1);
                }
            }

        }
    }
}

.bannerOferta {
    width: 100%;
    height: 250px;
    padding: 1rem;
    background-image: linear-gradient(20deg,rgba(255, 255, 255, 0.699), rgba(78, 74, 74, 0.644)),url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3rem;
    border-top: 3px solid var(--color-bg-uno);
    border-bottom: 3px solid var(--color-bg-uno);
    box-shadow: var(--box-shadow);

    .contenedorCupon {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: var(--color-letra);
            letter-spacing: 3px;
            font-weight: 400;
        }

        p {
            font-family: var(--font-dos);
            color: var(--color-sub);
            font-weight: 700;
        }
    }

}

.contenedor {
    width: 100%;
    min-height: calc(100dvh - 105px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1rem;

    .articuloInfo {
        width: clamp(330px,95%, 700px);
        height: clamp(500px, 80dvh, 1000px);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 1rem;
        background-image: linear-gradient(#c2c2c200, #00000070), url('/img/img-faraones.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        border-radius: 8px;
        border: 1px solid var(--color-sub);

        .textosInfo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-self: end;
            gap: .8rem;
            background-color: #ffffff59;
            padding: 1rem;
            width: 100%;
            height: 100%;
            text-align: center;
            text-shadow: 0 0 10px rgb(168, 168, 168);
            letter-spacing: 2px;
            font-family: var(--font-uno);


            h3 {
                font-family: var(--font-dos);
                font-size: 2rem;
            }

            p {
                font-size: .8rem;
                display: flex;
                color: var(--color-sub);
                align-items: center;
            }

            .textosDescripcion {
                font-family: var(--font-dos);
                color: var(--color-letra);
                font-weight: 600;
                letter-spacing: 1px;
                font-size: .9rem;
                overflow-y: scroll;
                max-width: 500px;


                p {
                    color: #000;
                }
            }

            .comprar {
                padding: .7rem 1.5rem;
                border: 1px solid var(--color-sub);
                border-radius: 5px;
                box-shadow: var(--box-shadow);
                text-decoration: none;
                color: var(--color-letra);
                background-image: linear-gradient(25deg, var(--color-bg-dos), var(--color-bg-tres));
                transition: transform .4s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

    }
    h4 {
        padding: 1rem 2rem;
        background-color: var(--background);
        border: 1px solid var(--color-sub);
        border-radius: 8px;
        color: var(--color-sub);
        letter-spacing: 2px;
        font-weight: 400;
        box-shadow: inset var(--box-shadow);
        width: clamp(300px, 100%, 800px);
        text-align: center;
        align-self: flex-start;
    }
    .testUs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;


        .coment {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            justify-content: center;
            align-items: baseline;
            background-color: #fff;
            min-width: 150px;
            border-radius: 5px;
            border: 1px solid var(--color-bg-uno);
            box-shadow: var(--box-shadow);

            .parrafo {
                font-size: .8rem;
                font-family: var(--font-dos);
                font-weight: 700;
                color: var(--color-sub);
                max-width: 400px;
            }

            .nombreUser {
                color: var(--color-bg-tres);
                text-align: right;
                width: 100%;

                span {
                    color: var(--color-bg-uno);
                }
            }
        }
    }
}

.contenedorTesti {
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    overflow: auto;

    .direct {
        width: 100%;
        max-width: 650px;
        background-color: #79512c7e;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border: 1px solid var(--color-bg-uno);
        border-radius: 5px;

        h4 {
            font-size: 1rem;
            letter-spacing: 3px;
            font-weight: 500;
        }

        p {
            font-family: var(--font-dos);
            font-weight: 600;
            font-size: .9rem;

            span {
                font-family: var(--font-uno);
                color: var(--color-bg-uno);
                letter-spacing: 1px;
                font-weight: normal;
            }
        }
    }

    .wrappTesti {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;


        .comentario {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            justify-content: center;
            align-items: baseline;
            background-color: #fff;
            min-width: 150px;
            border-radius: 5px;
            border: 1px solid var(--color-bg-uno);
            box-shadow: var(--box-shadow);

            .parrafo {
                font-size: .8rem;
                font-family: var(--font-dos);
                font-weight: 700;
                color: var(--color-sub);
                max-width: 400px;
            }

            .nombreUser {
                color: var(--color-bg-tres);
                text-align: right;
                width: 100%;

                span {
                    color: var(--color-bg-uno);
                }
            }
        }
    }

    .contForm {
        padding: 1rem;
        width: 100%;
        height: clamp(400px, 45%, 530px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .alertas {
            position: absolute;
            display: flex;
            flex-direction: column;
            right: 15px;
            top: 0;
            gap: .5rem;
            z-index: 2;

            .alert {
                background-color: rgba(226, 140, 140, 0.603);
                border: 1px solid rgb(196, 88, 88);
                border-radius: 5px;
                font-family: var(--font-dos);
                font-weight: 700;
                color: var(--color-sub);
                padding: .4rem;
                opacity: 1;
                transition: opacity 1s;
                transition-behavior: allow-discrete;

                @starting-style {
                    opacity: 0;
                }
            }
        }

        .formTest {
            width: clamp(300px, 80dvw, 420px);
            height: clamp(300px, 40%, 500px);
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;
            box-shadow: var(--box-shadow);
            border-radius: 8px;
            align-items: center;

            h4 {
                font-family: var(--font-dos);
                color: var(--color-sub);
            }

            .wrappInput {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: auto;

                textarea {
                    resize: none;
                    height: 80px;
                }

                label {
                    font-size: .77rem;
                    color: var(--color-sub);
                }

                input,
                textarea {
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    font-family: var(--font-dos);
                    font-weight: 600;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 5px var(--color-bg-tres);
                        transform: scale(1.02);
                        transition: transform 0.3s ease-in-out;
                    }
                }


            }

            .btnSend {
                padding: 1rem;
                min-height: 50px;
                min-width: 150px;
                font-family: var(--font-uno);
                text-decoration: none;
                color: var(--color-letra);
                background-image: linear-gradient(25deg, var(--color-bg-dos), var(--color-bg-tres));
                transition: transform .4s;
                border-radius: 8px;
                border: 1px solid var(--color-sub);
                box-shadow: var(--box-shadow);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

    }
}

.footer {
    width: 100%;
    min-height: clamp(100px, 20%, 120px);
    background-color: var(--background);
    border-top: 3px solid var(--color-sub);
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    padding: 1rem;


    .logo {

        img {
            height: 40px;
            mix-blend-mode: multiply;
        }
    }

    .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: .5rem;
        grid-row: span 2;
        text-align: center;

        .contenedorFooter {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;

            a {
                text-decoration: none;
                color: var(--color-letra);
                font-size: .7rem;
                transition: border .1s;

                &:hover {
                    border-bottom: 3px solid var(--color-sub);
                    border-right: 3px solid var(--color-sub);
                }
            }
        }
    }

    p {
        padding-top: 1rem;
        font-size: .7rem;
        color: var(--color-sub);

        span {
            color: var(--color-letra);
        }
    }

}

@media (width >=700px) {

    .header {

        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            clip-path: none;
            height: 100%;
            padding: 0;
            position: inherit;
            width: auto;
            border: none;
            gap: .5rem;

        }

        .abrir {
            display: none;
        }
    }

    .viajes {
        width: 100%;

        .contenedor {
            width: clamp(700px, 100%, 950px);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            place-content: center;
            justify-content: center;

            .articulo {
                place-self: center;
                min-width: 250px;
                max-width: 300px;
            }
        }
    }

    .slider {
        overflow-x: hidden;
        justify-content: center;
    }

    .footer {

        .navbar {
            .contenedor {
                flex-direction: column;
            }
        }
    }
}