footer.footer
    a(href="/").logo
        img(src="/img/logo.png", alt="Logo")
    nav.navbar
        .contenedorFooter
            a(href="/viajes") Viajes
            a(href="/nosotros") Nosotros
            a(href="/testimoniales") Testimoniales

    p | todos los derechos reservados 
        span= yearActual