footer 
    hr
    h3 soy un pie de pagina
    ul
        li voy hacer esta mierda por mi familia
        li crear cosas de verdad productivas 
        li entiende y practica
    
    nav
        a(href="/") Inicio
        a(href="/cosas") Cosas
        a(href="/nosotros") Nosotros
        a(href="/testimoniales") Testimoniales

    p | todos los derechos reservados
        span= yearActual