doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombreSitio} | #{nombrePagina}
        link(rel="stylesheet" href="/estilos.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Special+Gothic+Expanded+One&display=swap' rel='stylesheet')
    body
        include header
        block contenido
        include slider
        include footer